{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    {% block extrahead %}
        <!--Aqui los archivos css-->
    {% endblock %}
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">PoliPerros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Adopciones<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Galeria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.w3schools.com">Quienes Somos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar en Poliperros">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>

{% block header %}
<h4>Este bloque es base de header</h4>
{% endblock %}

{% block content %}
<h5>Este es el body de la base</h5>
{% endblock %}

{% block footer %}
<h5>Este es el footer de la base</h5>
{% endblock %}

{% block extrajs %}
        <!--Aqui los archivos js-->
{% endblock %}

</body>
</html>